datasets
transformers
torch
pandas
numpy
matplotlib
seaborn
scikit-learn
jupyter
dvc[gs]
mlflow
google-cloud-storage
mlflow==3.1.4
boto3
torchvision
# testing
pytest
pytest-cov

# 
httpx 
requests
fastapi
uvicorn
prometheus-fastapi-instrumentator
requests-mock

kserve==0.11.2
protobuf